<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright (C) 2024 Mark Ng

    This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program; if not, see <https://www.gnu.org/licenses>.

    Additional permission under GNU GPL version 3 section 7

    If you modify this Program, or any covered work, by linking or combining it with "FSUIPC Client DLL for .NET" (or a modified version of that library), containing parts covered by the terms of its license (available at http://fsuipc.paulhenty.com/), the licensors of this Program grant you additional permission to convey the resulting work.
-->


<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlyChrono2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlyChrono2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <FlyChrono2.Properties.Settings>
            <setting name="AutoSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConstantlyCheckTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEtaAltitude" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SnoozeMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AlarmSound" serializeAs="String">
                <value>C:\CAG2 Software\FlyChrono\AlarmSound.mp3</value>
            </setting>
            <setting name="UseSimTimeETA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShareFlightWithFlyLive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReducedAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmallWindowDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeWhenClosed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeHasSetup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRestarting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeCorrectionAggression" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DatabaseRevision" serializeAs="String">
                <value>0</value>
            </setting>
        </FlyChrono2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FlyChrono2.Properties.Settings>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>OpenSource-Beta-1</value>
            </setting>
        </FlyChrono2.Properties.Settings>
    </applicationSettings>
</configuration>
